## You need to add the following
## environment variables to your github repository secrets
OPENAI_API_KEY=your_OPENAI_API_KEY
ACCESS_TOKEN_GITHUB=your_github_access_token
SPEC_FILE_PATH=your_spec_file_path